<!--=====================================
=            Section comment            =
======================================-->

<section class="section cta-hire bg-gary">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<!-- Hire Title -->
				
				<!-- Job Description -->
				
				<!-- Action Button -->
				
				<h2>Готові отримати свій iPhone напряму з Америки?</h2>
				<p>Ми підберемо найкращу модель, перевіримо її стан і доставимо до вас за кілька днів.<br>
				Жодних передплат — усе чесно, прозоро й швидко.</p>
				<a href="contact.html" class="mt-3 btn btn-main-md btn-blue">ЗАЛИШИТИ ЗАЯВКУ</a>
		</div>
	</div>
</section>

<!--====  End of Section comment  ====-->
